body{
	margin: 0;
}

.animation-box{
	background-color: black;
	width: 100%;
	height: 2em;
	letter-spacing: 0.5em;
	top: 50%;
	position: fixed;
}

.animation-text{
	position: relative;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: reverse;
}

.a1{
	animation-name: a1;
	margin-top: 0.7em;
}

.a2{
	animation-name: a2;
	animation-delay: 3s;
	color: black;
	bottom: 2em;
}

@keyframes a1{
	0% {left: -50%;}
	100% {left: 100%;}
}

@keyframes a2{
	0% {left: -50%; color: white;}
	100% {left: 100%; color: white;}
}

@font-face{
	font-family: "dudu-font";
	src: url("dudu-font.TTF");
}

p{
	font-family: dudu-font;
	font-size: 0.9em;
	color: white;
}

.logo-container{
	text-align: center;
	margin-top: 3em;
}

.logo-container img{
	height: 3em;
}

.hero{
	display: flex;
	text-align: center;
	justify-content: center;
}

.hero div{
	margin: 1em;
}

.hero-img{
	width: 100%;
	height: 90%;
}

.img-text{
	bottom: 6em;
	position: relative;
	letter-spacing: 1em;
	font-size: 1em;
}

.info{
	text-align: center;
	font-weight: bold;
	letter-spacing: 1em;
}

.info p{
	color: black;
}

.info p:first-child{
	font-size: 1.5em;
	margin-top: 0;
}

.info p:nth-child(0n+2){
	font-size: 1.25em;
}

.info p:last-child{
	font-size: 0.8em;
	letter-spacing: 0.8em;
}