body{
	margin: 0;
}

.animation-box{
	background-color: black;
	width: 100%;
	height: 2em;
	letter-spacing: 0.5em;
	top: 50%;
	position: fixed;
}

.animation-text{
	position: relative;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.a1{
	animation-name: a1;
	margin-top: 0.7em;
}

.a2{
	animation-name: a2;
	animation-delay: 3s;
	color: black;
	bottom: 2em;
}

@keyframes a1{
	0% {left: -50%;}
	100% {left: 100%;}
}

@keyframes a2{
	0% {left: -50%; color: white;}
	100% {left: 100%; color: white;}
}

.hero{
	width: 100%;
}

@font-face{
	font-family: "dudu-font";
	src: url("dudu-font.TTF");
}

p{
	font-family: dudu-font;
	font-size: 0.9em;
	color: white;
}

.p0{
	letter-spacing: 1em;
	position: absolute;
	top: 90%;
	text-align: center;
}

.p1{
	left: 7.5%;
}

.p2{
	left: 36%;
}

.p3{
	left: 80%;
}

.title-container{
	width: 100%;
	display: flex;
	flex-grow: 3;
}